# Backend
backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd
*.class
*.jar
*.war

# Frontend
web/node_modules/
web/build/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Env
.env
*.log
